.global-header {
  border-bottom: 1px solid #919191 !important;
  .nav-global {
    li a {
      color: $nav-global-color;
      &:hover, &:active, &:focus {
        color: $nav-global-hover;
      }
    }
  }
}

.global-header .logo {
  height: 50px;
  top: -10px;
}

.global-header,
.global-header.slim {
    // Hackish way to hide the "Explore Courses" link on courseware pages.
    // GSE courses typically have long names so there is not enough space for the link.
    .item a[href="/courses"] {
        display: none;
    }
    .course-header {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 60% !important;

        .course-name {
            white-space: nowrap;
        }
    }
}


footer .references {
  text-align: right;
}
