@import 'bourbon/bourbon';

$black: #231F20;
$white: #EFEFEF;

$green: #61D3CB;
$green-l1: tint($green,20%);
$green-l2: tint($green,40%);
$green-l3: tint($green,60%);
$green-l4: tint($green,80%);
$green-l5: tint($green,90%);
$green-d1: shade($green,20%);
$green-d2: shade($green,40%);
$green-d3: shade($green,60%);
$green-d4: shade($green,80%);
$green-s1: saturate($green,15%);
$green-s2: saturate($green,30%);
$green-s3: saturate($green,45%);
$green-u1: desaturate($green,15%);
$green-u2: desaturate($green,30%);
$green-u3: desaturate($green,45%);

$orange: #E05430;
$orange-l1: tint($orange,20%);
$orange-l2: tint($orange,40%);
$orange-l3: tint($orange,60%);
$orange-l4: tint($orange,80%);
$orange-l5: tint($orange,90%);
$orange-d1: shade($orange,20%);
$orange-d2: shade($orange,40%);
$orange-d3: shade($orange,60%);
$orange-d4: shade($orange,80%);
$orange-s1: saturate($orange,15%);
$orange-s2: saturate($orange,30%);
$orange-s3: saturate($orange,45%);
$orange-u1: desaturate($orange,15%);
$orange-u2: desaturate($orange,30%);
$orange-u3: desaturate($orange,45%);

$blue: #25305D;
$blue-l1: tint($blue,20%);
$blue-l2: tint($blue,40%);
$blue-l3: tint($blue,60%);
$blue-l4: tint($blue,80%);
$blue-l5: tint($blue,90%);
$blue-d1: shade($blue,20%);
$blue-d2: shade($blue,40%);
$blue-d3: shade($blue,60%);
$blue-d4: shade($blue,80%);
$blue-s1: saturate($blue,15%);
$blue-s2: saturate($blue,30%);
$blue-s3: saturate($blue,45%);
$blue-u1: desaturate($blue,15%);
$blue-u2: desaturate($blue,30%);
$blue-u3: desaturate($blue,45%);
$blue-t0: rgba($blue, 0.125);
$blue-t1: rgba($blue, 0.25);
$blue-t2: rgba($blue, 0.50);
$blue-t3: rgba($blue, 0.75);

$homepage-bg-image: url('/static/images/banner.jpg');
$header-bg: $white;
$footer-bg: $white;

$link-color: $blue;
$link-hover: $blue-l1;

$nav-global-color: $green;
$nav-global-hover: $green-l1;

$action-primary-fg: $white;
$action-primary-bg: $orange;
$action-primary-shadow: $orange-d2;
$action-primary-focused-bg: $orange;
$action-primary-active-bg: $orange;
$action-primary-active-fg: $white;
$action-primary-active-shadow: $orange-d2;
$action-primary-active-focused-fg: $orange-d3;
$action-primary-active-focused-shadow: $orange-d2;

$nav-btn-fg: $green;
$nav-btn-bg: $white;
$nav-btn-shadow: $green;
$nav-btn-focused-bg: $green-d4;
$nav-btn-active-bg: $green;
$nav-btn-active-fg: $white;
$nav-btn-active-shadow: $green-d2;
$nav-btn-active-focused-fg: $white;
$nav-btn-active-focused-shadow: $green-d2;
