.header-global h1.logo {
  height: 50px;
  top: -10px;
}

header.global {
  .nav-global {
    li a {
      color: $nav-global-color;

      &:hover, &:active, &:focus {
        color: $nav-global-hover;
      }
    }
  }
}

footer .references {
  text-align: right;
}
