@import 'overrides';
@import 'lms/static/sass/lms-main';

footer .references {
  text-align: right;
}

.home > header {
    .outer-wrapper {
        margin: 45px auto;
    }

    .title {
        background-color: rgba(255, 255, 255, 0.9);
    }
}

header.global {
    .nav-global {
        li a {
            color: $nav-global-color;

            &:hover, &:active, &:focus {
              color: $nav-global-hover;
            }
        }
    }
}

.content-wrapper {
    background: #fff;
}

.dashboard {
    .profile-sidebar { 
	border-color: $link-color;
    }
}

input[type="submit"],
input[type="button"], button, .button {
    text-shadow: none;
}

// Logistration page.
.login-register {

  .action-primary {
    box-shadow: 0 2px 1px 0 $action-primary-shadow;
    background: $action-primary-bg;
    color: $action-primary-fg;

    &:hover, &:focus {
      background: $action-primary-focused-bg;
    }

    &.current, &.active {
      box-shadow: inset 0 2px 1px 1px $action-primary-active-shadow;
      background: $action-primary-active-bg;
      color: $action-primary-active-fg;

      &:hover, &:active, &:focus {
        box-shadow: inset 0 2px 1px 1px $action-primary-active-focused-shadow;
        color: $action-primary-active-focused-fg;
      }
    }
  }

  .nav-btn {
    border: 1px solid $nav-btn-shadow;
    color: $nav-btn-fg;
    background: $nav-btn-bg;

    &:hover, &:active, &:focus {
      box-shadow: 0 2px 1px 0 $nav-btn-active-shadow;
      background: $nav-btn-active-bg;
    }

    &.current, &.active {
      box-shadow: inset 0 2px 1px 1px $nav-btn-active-shadow;
      background: $nav-btn-active-bg;
      color: $nav-btn-active-fg;

      &:hover, &:active, &:focus {
        box-shadow: inset 0 2px 1px 1px $nav-btn-active-focused-shadow;
        color: $nav-btn-active-focused-fg;
      }
    }
  }

  .form-field .field-link {
    color: $link-color;
  }

  .form-wrapper {
    padding-bottom: 25px;
  }
}

// Don't lowercase course about navigation links
.course-info .container nav a {
  text-transform: none;
}
